.dope-calendar-grid {
    --dc-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-family: var(--dc-font-family);
  --dc-bg: #f3f3f7;
  --dc-border-color: #d1d6db;
  --dc-border-width: 0.5px;
  --dc-day-container-width: 56px;
  --dc-day-cell-width: 40px;
  --dc-day-cell-height: 36px;
  --dc-day-number-color: black;
  --dc-day-number-font-size: 12px;
  --dc-day-number-font-weight: 700;
  --dc-day-name-color: rgba(0, 0, 0, 0.5);
  --dc-day-name-font-size: 10px;
  --dc-day-name-font-weight: 400;
  --dc-hour-text-color: rgba(0, 0, 0, 0.5);
  --dc-weekend-day-color: rgba(248, 113, 113, 0.5); 
  --dc-current-day-color: rgba(0, 36, 199, 1); 
}
.selected {
  box-shadow: 0 0 0 3px rgba(54, 162, 235, 0.5), 0 4px 12px rgba(0, 0, 0, 0.15);
  outline: 2px solid rgba(54, 162, 235, 0.8);
  outline-offset: 2px;
}
[data-theme='dark'] .dope-calendar-grid {
  --dc-bg: #141519;
  --dc-border-color: rgba(209, 214, 219, 0.35); 
  --dc-day-number-color: white;
  --dc-day-name-color: rgba(255, 255, 255, 0.5);
  --dc-hour-text-color: rgba(255, 255, 255, 0.5);
  --dc-weekend-day-color: rgba(250, 225, 229, 0.5); 
}